<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <h1 class="app-header">music app</h1>
    <a class="llinks" href="<%= bands_url %>">home page</a>
    <br>
    <% if current_user.nil? %>
      <a class="llinks" href="<%= new_user_url %>">sign up</a>
      <a class="llinks" href="<%= new_session_url %>">log in</a>
      <br><br>
    <% else %>
      <%= current_user.email %>
      <form action="<%= session_url%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="log out">
      </form>
    <% end %>
  
    <%= yield %>
  </body>
</html>
